<?xml version="1.0"?>
 <!--
  ~  @package   Logiscenter_ImmutableQuote
  ~  @author    @copyright Copyright © 2026
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="logiscenter_immutable_quote_config" xsi:type="object">Logiscenter\ImmutableQuote\Model\ImmutableQuoteConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
